*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    overflow: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

/*
RESPONSIVIDADE E ANTI-ALIASING
*/

:root{
    /* ===== Colors ===== */
    --primary-color: #fbc31b;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

/*
BARRA DE ROLAGEM COM IDENTIDADE VISUAL
*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #fbc31b;

    display: flex;
}

/*Barra superior*/
.navbar{
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;

    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
}

/*Botões da Navegação*/
.button1 {
    border: 3px;
    border-radius: 12px;    
    color: black;
    font-size: 16px;
    
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

.btn_compra {
    border: 3px;
    border-radius: 12px;    
    color: black;
    font-size: 16px;
    
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

#secaoinicial {
    background-color: #427CBA;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /*
    divisão dos elementos em grid, semelhante às div's do bootstrap
    */
    display: grid;
    grid-template-columns: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    
}

/*Container da apresentação*/
.container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    /*
    espaçamento entre colunas
    */
    column-gap: 1.4%;
    /*
    espaçamento entre linhas
    */
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}
.containertext {
    width: 55%;
    height: auto;
    text-align: left;
    color: #f1f1f1;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    /*padding-left: 20%;
    padding-right: 20%;
    margin-top: 1.4%;
    margin-bottom: 1.4%;*/
}

#titulo_apresent{
    font-weight: bolder;
    padding-top: 1.4%;
    padding-bottom: 8.4%;
    text-align: left;

    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

.containerbutton{
    text-align: center;
    position: initial;
    padding: 24px;
    height: min-content;
}

.containerimg{
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8%;
    padding-right: 8%;
}

#tela_mobile{
    margin:auto;
    padding: auto;
    width: fit-content;
    height: 50%;
    min-height: 424px;
    max-height: 500px;
}

hr.hr-1{
    border: 0;
    border-top: 3px double #427CBA;
}

hr.hr-2{
    height: 10px;
    border: 0;
    margin:0px;
    box-shadow: 0px 12px 15px -10px #427CBA inset;
}

/*
MEIO DA PÁGINA
*/
#parallax{
    display: grid;
    margin-bottom: 8%;
}

/*
ELEMENTO: "POR QUE A BEELINGUE?"
*/
/*
Valores em porcentagem para melhor responsividade
*/
.title{
    width: auto;
    position: relative;
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 8%;
    margin-bottom: 5%;
    padding: auto;
}

/*
TEXTO: "POR QUE A BEELINGUE?"
*/
#titulo_pq{
    text-decoration: none;
    color:#409cff;
    text-shadow: #5b5b5c 1px 2.5px;
    font-weight: lighter;
    text-align: center;

}

/*
DESCRIÇÃO DOS ATRIBUTOS DA BEELÍNGUE
*/
.col{
    /*
    GRID
    */
    display:grid;
    grid-template-columns: auto auto auto;
    column-count: 1;
    row-gap: 8%;
    column-gap: 8%;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: auto;
    margin-bottom: 8%;
    height: 100%;
}
.col img{
    size: 100px;
    padding: 1.4%;
}

/*
André:
Ao passar o código no W3C validator, foi constatado que a tag "center" (HTML) é obsoleta, portanto criei esse bloco para centralizar o texto.
*/
#titulo_centralizado{
    text-decoration: none;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: bold;
}

/*Botão de Teste Grátis*/
.buttonteste {
    /*margin-left: 20%;*/
    background-color: white;
    color: #1d1d1b;
    border: 2px solid #409cff;
    padding: 6px 14px;
}
.buttonteste:hover {
    background-color: #409cff;
    color: #1d1d1b;
}
/*Botão de Teste Grátis*/

/*Botão de Cadastrar-se do Apresentação Inicial*/
.buttoncadastro {
    position: relative;
    background-color: white;
    color: #1d1d1b;
    border: 2px solid #FECB37;
    padding: 6px 14px;
}
.buttoncadastro:hover {
    background-color: #FECB37;
    color: #1d1d1b;
}

.buttoncadastro1 {
    position: relative;
    background-color: white;
    color: #1d1d1b;
    border: 2px solid #FECB37;
    padding: 6px 14px;
    top: -10px;
}
.buttoncadastro1:hover {
    background-color: #FECB37;
    color: #1d1d1b;
}
/*Botão de Cadastrar-se do Apresentação Inicial*/

.button2 {
    background-color: white;
    color: #1d1d1b;
    border: 2px solid #FECB37;
}
.button2:hover {
    background-color: #FECB37;
    color: #1d1d1b;
}
/*Botões da Navegação*/

/*Imagens da apresentação inicial*/
.setting {
    width: 50px;
    height: 50px;
}
/*Imagens da apresentação inicial*/ 

/*
ELEMENTO: "PLANOS"
*/
#mkt_sec{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    
    column-gap: 1.4%;
    row-gap: 1.4%;
    
    padding-top: 1.4%;
    padding-bottom: 1.4%;
}

/*
TEXTO: "PLANOS:"
*/
.tit_planos{

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: auto;

    margin-left: auto;
    margin-right: auto;
    text-align: center;

    padding-top: 8%;
    padding-bottom: 8%;
    

}
#title2{
    
    color: #1d1d1b;
    text-shadow: #7c651f 1px 2.5px;
    font-weight: lighter;
    text-align: center;

}

/*Planos*/


#promo_card{
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 8%;
    margin-right: 8%;
    
}

#card01{
    
    text-decoration: none;
    padding: 1.5em 1em;
    border: 1px solid #5d5d5d;
    border-radius: 8px;
}

#card02{
    
    text-decoration: none;
    padding: 1.5em 1em;
    border: 1px solid #5d5d5d;
    border-radius: 8px;
}

.title h1{
    padding-bottom: 3%;
}

/*
ELEMENTO: "NOS DÊ SUGESTÕES"
*/
#footer_ini{
    margin-top: 1.4%;
    margin-bottom: 1.4%;
}

/*
TEXTO DO FOOTER
*/
#footer_end{
    margin-top: auto;
    margin-bottom: 5%;
}

/* Cor dos textos do footer*/
.cortext {
    text-decoration: none;
    color:#1d1d1b;
  }
#cortext {
    text-decoration: none;
    color: #1d1d1b;
  }
/* Cor dos textos do footer*/

#centro1 {
    text-decoration: none;
    text-align: center;
}

#centro2{
    text-decoration: none;
    text-align: center;
}