*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    overflow: auto;
    line-height: 1.4vh;
}

p{
    margin-bottom:0;
}

/*
ESPAÇAMENTO DE LETRAS PARA TÍTULOS NO SITE
*/
h1, h2{
    letter-spacing: 0.9vh;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

/*
RESPONSIVIDADE E ANTI-ALIASING
*/

:root{
    /* ===== Colors ===== */
    --primary-color: #fbc31b;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

/*
BARRA DE ROLAGEM COM IDENTIDADE VISUAL
*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #fbc31b;

    display: flex;
}

/*Barra superior*/
.navbar{
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;

    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
}

/*Botões da Navegação*/
.button1 {
    border: 3px;
    border-radius: 12px;    
    color: black;
    font-size: 16px;
    
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

.btn_compra {
    border: 3px;
    border-radius: 12px;    
    color: black;
    font-size: 16px;
    
    transition-duration: 0.4s;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

#secaoinicial {
    background-color: #427CBA;
    position: relative;
    background-repeat: repeat;
    background-size: auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /*
    divisão dos elementos em grid, semelhante às div's do bootstrap
    */
    display: grid;
    grid-template-columns: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    
}

/*Container da apresentação*/
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1.4%;
    row-gap: 1.4%;

    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}
.containertext {
    width: 55%;
    height: auto;
    text-align: left;
    color: #f1f1f1;

    margin-top: auto;
    margin-bottom: auto;
    padding-top: 8%;
    padding-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

#titulo_apresent{
    font-weight: bolder;
    padding-top: 1.4%;
    padding-bottom: 8.4%;
    text-align: left;
    text-transform: uppercase;

    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

.containerbutton{
    text-align: center;
    position: initial;
    padding: 24px;
    height: min-content;
}

.containerimg{
    width: auto;
    height: auto;

    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

#tela_mobile{
    
    width: 100%;
    height: 100%;

    margin-top: auto;
    margin-bottom: auto;
    padding-top: 16%;
    padding-bottom: 16%;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    
}

hr.hr-1{
    border: 0;
    border-top: 3px double #427CBA;
}

hr.hr-2{
    height: 10px;
    border: 0;
    margin:0px;
    box-shadow: 0px 12px 15px -10px #427CBA inset;
}

/*
MEIO DA PÁGINA
*/
#parallax{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: auto;
    padding-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    
}

/*
ELEMENTO: "POR QUE A BEELINGUE?"
*/
/*
Valores em porcentagem para melhor responsividade
*/
.title{
    width: auto;
    height: auto;
    align-self: center;
    position: relative;
    margin-left: 24%;
    margin-right: 24%;
    margin-top: 8%;
    margin-bottom: 5%;
    padding-left: auto;
    padding-right: auto;
    padding-top: auto;
    padding-bottom: auto;
}

/*
TEXTO: "POR QUE A BEELINGUE?"
*/
#titulo_pq{
    color:#409cff;
    /*text-shadow: #5b5b5c 1px 2.5px;*/
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;

}

/*
DESCRIÇÃO DOS ATRIBUTOS DA BEELÍNGUE
*/
.col{
    width: auto;
    height: auto;
    align-self: center;
    /*
    GRID
    */
    display:grid;
    grid-template-columns: auto auto auto;
    row-gap: 8%;
    column-gap: 8%;

    align-self: inherit;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: auto;
    margin-bottom: 12%;
    padding-left: auto;
    padding-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    
}
.col img{
    size: 100px;
    padding: 1.4%;
}

/*
André:
Ao passar o código no W3C validator, foi constatado que a tag "center" (HTML) é obsoleta, portanto criei esse bloco para centralizar o texto.
*/
#titulo_centralizado{
    text-decoration: none;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: bold;
    text-transform: uppercase;
}

/*Botão de Teste Grátis*/
.buttonteste {
    /*margin-left: 20%;*/
    background-color: white;
    color: #1d1d1b;
    border: 2px solid #409cff;
    padding: 6px 14px;
}
.buttonteste:hover {
    background-color: #409cff;
    color: #1d1d1b;
}
/*Botão de Teste Grátis*/

/*Botão de Cadastrar-se do Apresentação Inicial*/
.buttoncadastro {
    position: relative;
    background-color: white;
    color: #1d1d1b;
    border: 2px solid #FECB37;
    padding: 6px 14px;
}
.buttoncadastro:hover {
    background-color: #FECB37;
    color: #1d1d1b;
}

.buttoncadastro1 {
    position: relative;
    background-color: white;
    color: #1d1d1b;
    border: 2px solid #FECB37;
    padding: 6px 14px;
    top: -10px;
}
.buttoncadastro1:hover {
    background-color: #FECB37;
    color: #1d1d1b;
}
/*Botão de Cadastrar-se do Apresentação Inicial*/

.button2 {
    background-color: white;
    color: #1d1d1b;
    border: 2px solid #FECB37;
}
.button2:hover {
    background-color: #FECB37;
    color: #1d1d1b;
}
/*Botões da Navegação*/

/*Imagens da apresentação inicial*/
.setting {
    width: 50px;
    height: 50px;
}
/*Imagens da apresentação inicial*/ 

/*
ELEMENTO: "PLANOS"
*/

#mkt_sec{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    
    column-gap: 1.4%;
    row-gap: 1.4%;
    align-items: center;
    
    padding-top: 1.4%;
    padding-bottom: 8%;
}

/*
TEXTO: "PLANOS:"
*/
.tit_planos{

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: auto;
    height: auto;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    /*
    Título Negrito
    */
    font-weight: bolder;

    padding-top: 8%;
    padding-bottom: 8%;
    

}
#title2{
    
    color: #1d1d1b;
    /*text-shadow: #7c651f 1px 2.5px;*/
    font-weight: lighter;
    text-align: center;

}

/*Planos*/


#promo_card{

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: auto auto;

    /*
    Espaçamento entre cards (deve estar em %)
    */
    column-gap: 8%;
    row-gap: 1.4;
   

    margin-left: 8%;
    margin-right: 8%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: auto;
    padding-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    
}

/*
CARDS DE PLANOS
*/
#card01{
    
    width: 70%;
    height: auto;
    text-decoration: none;
    align-items: center;
    border: 1px solid #5d5d5d;
    background-color: #f1f1f1;
    border-radius: 0.50rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

#card02{
    
    width: 70%;
    height: auto;
    text-decoration: none;
    align-items: center;
    border: 1px solid #5d5d5d;
    background-color: #f1f1f1;
    border-radius: 0.50rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    overflow: auto;
}

/*
IMAGENS DOS CARDS
*/
.img_card{
    height: 40%;
    width: 100%;
    vertical-align: middle;
}

/*
TÍTULO NOS CARDS
*/
#h4_card{
    color: #1d1d1b;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
    text-align: left;

}

/*
PARÁGRAFO NOS CARDS
*/
#p_card{
    color: #1d1d1b;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
    text-align: left;

}


/*
BOTÃO AINDA NÃO CRIADO
*/
.btn {
    color: #1d1d1b;
    padding: 0.8rem;
    text-transform: uppercase;
    border-radius: 0.25rem;
    font-weight: light;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }
  
.btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.title h1{
    padding-bottom: 3%;
}

/*
ELEMENTO: "NOS DÊ SUGESTÕES"
*/
#footer_ini{
    margin-top: 1.4%;
    margin-bottom: 1.4%;
}

/*
TEXTO DO FOOTER
*/
#footer_end{
    margin-top: auto;
    margin-bottom: 5%;
}

/* Cor dos textos do footer*/
#cortext {
    text-decoration: none;
    color: #1d1d1b;
  }

#centro1 {
    text-decoration: none;
    text-align: center;
}

#centro2{
    text-decoration: none;
    text-align: center;
}