/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*
Barra de progreso
*/

.barra_prog{
  position: fixed;
  z-index: 999;
  height: 5px;
  background:-webkit-linear-gradient(0deg,blue, #14ebc7);
}

/*Baackgrounds ( 　ﾟ,_ゝﾟ)*/
main{
  background-image: url("img/ondas/azul.svg");
  background-repeat: no-repeat;
  background-size: 100% 55%;
}
#secaoinicial {
  background-color: #487cbc;
}


#waveplanos {
  background-image: url("img/ondas/amarelo.svg");
  background-repeat: no-repeat;
  background-size: 100% 175%;
}
/*Backgrounds ( 　ﾟ,_ゝﾟ)*/

/* Cor dos textos do footer*/
.cortext {
  color:#1d1d1b;
}
#cortext {
  color: #1d1d1b
}
/* Cor dos textos do footer*/

/*Fontes*/
p, h2, h1, h3, h4, h5, h6, span{
  font-family:"Roboto", Verdana, Sans-serif;
}

/*Texto :3*/

h1 {
  text-align: center;
}
#justificado {
  text-align: justify;
}
#centro {
  text-align: center;
}
/*Texto :3*/

/*Botões da Navegação*/
.button1 {
  border: 3px;
  font-family:"Roboto", Verdana, Sans-serif;
  border-radius: 12px;
  color: black;
  padding: 3px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

/*Botão de Teste Grátis*/
.buttonteste {
  margin-left: 20%;
  background-color: white;
  color: #1d1d1b;
  border: 2px solid #409cff;
  padding: 6px 14px;
}
.buttonteste:hover {
  background-color: #409cff;
  color: #1d1d1b;
}
/*Botão de Teste Grátis*/

/*Botão de Cadastrar-se do Apresentação Inicial*/
.buttoncadastro {
  position: relative;
  background-color: white;
  color: #1d1d1b;
  border: 2px solid #FECB37;
  padding: 6px 14px;
}
.buttoncadastro:hover {
  background-color: #FECB37;
  color: #1d1d1b;
}

.buttoncadastro1 {
  position: relative;
  background-color: white;
  color: #1d1d1b;
  border: 2px solid #FECB37;
  padding: 6px 14px;
  top: -10px;
}
.buttoncadastro1:hover {
  background-color: #FECB37;
  color: #1d1d1b;
}
/*Botão de Cadastrar-se do Apresentação Inicial*/

.button2 {
  background-color: white;
  color: #1d1d1b;
  border: 2px solid #FECB37;
}
.button2:hover {
  background-color: #FECB37;
  color: #1d1d1b;
}
/*Botões da Navegação*/

/*Container da apresentação*/
.container {
  display: flex;
}
.wireframeimage {
  object-fit: contain;
  align-self: flex-start;
}
.containertext {
  flex: 1 1
}
/*Container da apresentação*/

/*Imagens da apresentação inicial*/
.setting {
  width: 50px;
  height: 50px;
}
/*Imagens da apresentação inicial*/ 

.col{
  column-count: 2;
  column-gap: 15%;
  margin-left: 12%;
  margin-right: 7%;
  height: 500px;
}
.col img{
  size: 100px;
  padding: 2%;
}

.title{
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 4%;
}

.title h1{
  padding-bottom: 3%;
}

/*Planos*/
.col-c{
  background-color: #ffbe42;
  height: 400px;
  width: 55%;
  border-radius: 10px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.col-c:hover{
  box-shadow:  0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
  cursor: pointer;
}
/*Planos*/

/*Sidebar Navegação*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  overflow: auto;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details img{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.navbar-brand{
  position: relative;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #ffffff;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  padding: 12px;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-content{
  display: relative;
  align-items: center;
  flex-wrap: wrap;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  cursor: pointer;
  margin-right: 10px;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
/*Sidebar Navegação*/
/*Cards*/

.content{
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
 .content .card{
  cursor: pointer;
  background: #fff;
  width: calc(33% - 20px);
  text-align: center;
  padding: 15px 30px  30px 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.content .card .top{
  height: 130px;
  color: #fff;
  padding: 12px 0 0 0 ;
  clip-path: polygon(0 0, 100% 0, 100% 53%, 49% 100%, 0 53%);
}

.content .card .top .title{
 font-size: 27px;
 font-weight: 600;
}
.content .card .top .price-sec{
  margin-top: -10px;
  font-weight: 600;
}
.content .card .top .price{
  font-size: 45px;
}
.content .card .info{
  font-size: 16px;
  margin-top: 20px;
}
.content .card .details .one{
  margin-top: 25px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.content .card .details .one::before{
  position: absolute;
  content: "";
  width: 100%;
  background: #ddd;
  height: 1px;
  left: 0;
  top: -12px;
  border-radius: 25px;
}
.content .card .details .one i{
  color: #2db94d;
}
.content .card .details i.fa-times{
  color: #cd3241;
}

.content .one .top,
.content .one button{
  background: #14ebc7;
}
.content .two .top,
.content .two button{
  background: #f7cd14;
}
.content .three .top,
.content .three button{
  background: rgb(252, 48, 48);
}
.content button:hover {
  filter: brightness(90%);
}
.content .one ::selection{
background: #8af5b6;
}
.content .two ::selection{
background:  #e2c74d;
}
.content .three ::selection{
background: #fbd5d0;
}
/*Cards*/
/*Reponsividade*/
@media (max-width:1000px) {
   .content .card{
    background: #fff;
    width: calc(50% - 20px);
    margin-bottom: 30px;
}
}
@media (max-width:715px) {
 .content .card{
    width: 100%;
}
}

@media screen and (max-width: 400px){
  .sidebar{
    width: 240px;
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .profile-details{
    width: 240px;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .home-section{
    left: 240px;
    width: calc(100% - 240px);
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
}
/*Reponsividade*/

/*
Estilo do hr nas páginas
ESTILO PROVISÓRIO
*/
hr{
  border: 0;
  border-top: 2px dotted #8c8c8c;
}
/*Reponsividade*/

/*
CSS - PÁGINA: Estatísticas

IMPORTANTE:
sections estão dando conflito
*/

#config_icon{
  cursor: pointer;
  margin-left: 72px;
  margin-right: 36px;
  width: 32px;
  height: 32px;
}

#edit_icon{
  cursor: pointer;
  width: 32px;
  height: 32px;
}

#estatisticas{

/*
SOBRE AS GRIDS:

Utilizei o "display: grid;" para poder dividir o conteúdo milimetricamente, permitindo maior controle dos elementos na página sem precisar do bootstrap a princípio.

No entanto, como destaquei acima, as sections estão em conflito, e não posso tirar o máximo de proveito das grids por conta delas.
*/  
display: grid;
grid-template-columns: auto auto auto;
}

#cont_table{

margin-top: auto;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
display: grid;
}

#cont_text{

margin-top: auto;
margin-left: auto;
margin-right: auto;
margin-bottom: auto;
text-align: justify;

}


#table{

  /*
  A quebra de linha (word-wrap) começará após atingir uma largura de 450 px.
  */
  width: 450px;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
  border-style: groove;
  display: grid;


  /*Sombreamento*/
  box-shadow: 6px 6px 2px gray;

  /*Cor de fundo com opacidade (a opacidade é definida na última combinação numérica, aqui definida por: 0.4)*/
  background-color: rgba(247, 205, 20, 0.4);
  

  padding: 24px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}

/*Gráfico de barras*/
#barras{

  cursor: pointer;

  height: 324px;
  width: 208px;

  position: relative;

  padding: 8px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

#cont_itens{

  text-align: center;
  
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

#cont_itens{

  text-align: center;
  
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

#table_2{
  width: 450px;
  overflow-wrap: break-word;  
  word-wrap: break-word; 
  word-break: break-word;
  border-style: groove;
  display: grid;

  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}