/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

/*
Fonte e posicionamento padronizados
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*
Anti-aliasing para Tipografia
*/
body{
  -webkit-font-smoothing: antialiased;
}

/*
Responsividade
*/
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}

:root{
    --cor-azul: #427CBA;
    --cor-azul-claro: #cbe3fd;
    --cor-amarelo: #FECB37;
    --cor-preto: ; 
    --cor-cinza:#f3f3f3;
}

/*
.img_header{

}
*/

/*
LOGO BEELÃNGUE -> MENU SUPERIOR
*/
#logo_super{
    display: inline-block;
    width: 10%;
    height: 100%;

    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}


.menu {
    list-style: none;
    font-size: 15px;
    /*
    COR DO TEXTO EM CONTRASTE COM FUNDO AZUL
    */
    /*color: #f1f1f1;*/

}

.menu li {
    position: relative;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
}

.menu li  ul{
    position:absolute; 
    top:25px; 
    left:0;
    background-color:#fff; 
    display:none;
}  

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
    border:1px solid #c0c0c0; 
    display:block; 
    width:150px;
}

.barra_super{
    display: inline-flex;
    float: right;
    margin-right: 8%;
    
    
}
    

/* main*/
.container2{
    column-count: 2;
    column-gap: 40px;
    width: 60%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family:Arial, Helvetica, sans-serif;
    }

.container3{
    column-count: 3;
    column-gap: 25px;
    width: 80%;
    font-family:Arial, Helvetica, sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.center {
    position: static;
    left: 0;
    top: 50%;
    margin-top: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

.button-y{
    background-color: var(--cor-amarelo); 
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block ;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 10%;

}

.button-y:hover, .button-y:focus{
    
      box-shadow: 0 0.5em 0.5em -0.4em var(--cor-preto);
      transform: translateY(-0.25em);
    }


.plano{
    font-family:Arial, Helvetica, sans-serif;
    border: 0.5px solid black;
    width: 250px;
    height: 300px;
    text-align: center;
    position: static;
    background-color: var(--cor-cinza);
    color: black;
    border-radius: 5%;
}

.plano ul{
    text-align: justify;
    margin-top: 60px;
}

.plano button{
    margin-top: 60px;

}

.plano h5{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.divisor{
    width: 100%;
    height: 200px;
    position: static;

}
.divisor1{
    width: 100%;
    height: 100px;
    position: static;

}

.icons{
    position: static;
    width: 60px;
    height: 60px;
}

.icons-footer{
    width: 30px;
    height: 30px;
}
.item-col{
    padding: 10px;
    border-radius: 5%;
   /*background-color: var(--cor-cinza);*/
    border: 0.5px ;
    margin: 5px;
    height: 225px;

}

.item-col li{
    list-style: none;
}

.item-col li a{
    color: black;
}

.img-footer{
    display: flex;
    padding: 5px;
}

.img-footer p{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
}


.section-main{
background-color: var(--cor-azul);
width: 100%;
padding-top: 30px;
padding-bottom: 30px;
}

.geeks {
    padding: 200px;
    text-align: center;
}

section {
    width: 100%;
    min-height: 300px;
}

.pattern {
    position: relative;
    background-color: var(--cor-amarelo);
    height: 150px;
}

.pattern:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/ondas2.png);
    background-size: contain;
    background-repeat:round;
}

.section-plano{
   background-color: var(--cor-amarelo);
padding-top: 35px;
}

footer {
   /* background-color: var(--cor-cinza);*/
height: 150px;
padding-top: 25px;
padding-bottom: 25px;
}

.meio{
    position: relative;
    left: 0;
    top: 15%;
    width: 100%;

    
}

.meio h1{
    font-size: 40px;
}

.meio p{
    font-size: 20px;
}

hr{
    width: 50%;
    margin-bottom: 35px;
}
.item-col ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
