/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root{
    --cor-azul: #427CBA;
    --cor-azul-claro: #cbe3fd;
    --cor-amarelo: #FECB37;
    --cor-preto: #1d1d1b; 
    --cor-cinza:#f3f3f3;
}

/*
BARRA DE ROLAGEM COM IDENTIDADE VISUAL
*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--cor-amarelo);
    border-radius: 12px;
    transition: all 0.3s ease;
}

/*
Fonte e posicionamento padronizados
*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
Anti-aliasing para Tipografia
Otimização de renderização de texto
*/
html, body{
    height: 100vh;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

/*
Responsividade
*/

@media screen and (max-width: 630px) {
    /*MENU SUPERIOR*/
    .barra{
        display: none;
    }

    /*HAMBURGUER FULLSCREEN*/
    .hamburguer.click{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        /*SOBREPOSIÇÃO NÍVEL 1*/
        z-index: 1;
    }

    .sand{
        width: 40px;
        height: 30px;
        margin-right: 20px;
    }

    /*MENU SUPERIOR MOBILE*/
    .list1, .list2, .list3{
        background-color: var(--cor-preto);
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    /*MENU HAMBURGUER ABERTO*/
    .hamburguer.click, .barra{
        display: block;
        /*SOBREPOSIÇÃO NÍVEL 2*/
        z-index: 2;
    }

    .hamburguer.click .sand{
        position: absolute;
        right: 25px;
        top: 15px;
    }

    /*MENU EM "X" (APENAS MOBILE)*/
    .hamburguer.click .sand .list1{
        transform: rotate(45deg) translate(7px, 7px);
    }

    .hamburguer.click .sand .list2{
        opacity: 0; 
    }

    .hamburguer.click .sand .list3{
        transform: rotate(-45deg) translate(8px, -10px);
    }

    .hamburguer.click, .barra ul{
        text-align: center;
        display: block;
    }

    .hamburguer.click, .barra ul a{
        display: block;
        transition-duration: 0.3s;
        font-size: 1.2rem;
        line-height: 1.6;
    }

    /*POSICIONAMENTO DO MENU*/
    .barra{
        margin-left: 28%;
        margin-right: 40%;
    }

    .bt_menu.nav{
        /*PARÂMETROS EXCLUSIVOS DO BOTÃO*/
        transition-duration: 0.3s;
        width: 138px;
        height: 48px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 600px){
    /*COLUNAS MEIO DA PÁGINA*/
    .cards{
        flex-direction: column;
    }

    /*FOOTER*/
    .cont_footer{
        padding-left: 8%;
        padding-bottom: 16%;
    }

    .cont_footer .contato, .links_footer, .about{
        flex-direction: column;
    }

    .barra_inf{
        flex-direction: column;
    }

}

@media screen and (max-width: 400px) {
    #mobile_cont, #tela_ilus{
        display: none;
    }
}

/*
ESPAÇAMENTO DE LETRAS PARA TÍTULOS NO SITE E FORMATAÇÃO
*/
h1, h2{
    text-transform: uppercase;
    letter-spacing: 0.9vh;
}

/*
TAMANHO DA TIPOGRAFIA EM TAGS h1
*/
h1{
    font-size: 4.5vh;
}

h3{
    font-size: 1.2rem;
    text-transform: uppercase;
}

h5{
    text-transform: capitalize;
}

p{
   word-wrap: break-word;
   /*font-size: 1.2rem;*/  
   line-height: 1.6;
   margin-top: auto;
   margin-bottom: auto;
   padding-top: 0.9%;
   padding-bottom: 0.9%;
   margin-left: auto;
   margin-right: auto;
   padding-left: auto;
   padding-right: auto;
}

a, ul, li{
    text-decoration: none;
    list-style: none;
    color: var(--cor-preto);
}

/*
MENU SUPERIOR
*/
.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: white;
    width: auto;
    height: auto;
    max-height: 80px;
    margin: 0.9%;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;
}

/*
CLASSE DO ELEMENTO ul
*/
.menu{
    display: flex;
    align-items: center;
}

/*
ESPAÇAMENTO ENTRE OPÇÕES
*/
.menu li{
    margin-left: 1.2em;
}

.menu li a{
    display: block;
    padding: 1em;
}

/*
LOGO -> MENU SUPERIOR
*/
#logo_super{
    /*TAMANHO RESPONSIVO*/
    width: 90%;
    max-width: 160px;
    height: 100%;
    max-height: 50px;

    /*text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;*/
}

/*
ESTILO DE TEXTO PARA MENUS NO HEADER
*/
#paragrafo_sup{
    opacity: 75%;
}

/*
BOTÃO DO MENU SUPERIOR
*/
/*Código adaptado de: @yuhomyan*/
.bt_menu{
    display: flex;
    /*ALINHAMENTO*/
    align-content: center;
    align-self: center;
    flex-wrap: wrap;
    /*COLUNAS*/
    flex-direction: column;
    column-count: 1;
    /*COR DA FONTE*/
    color: #ffffff;
    background: transparent;
    cursor: pointer;
    /*TAMANHO DO BOTÃO*/
    width: 130px;
    height: 40px;
    border-radius: 8px;
    transition: all 0.3s ease;
    position: relative;
    outline: none;
    box-shadow:inset
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
    border: none;
    /*ESPAÇAMENTO*/
    margin-top: 1.4%;
    margin-bottom: 1.4%;
}

/*AQUI, "nav" ENTRA COMO UMA SUB-CLASSE DO BOTÃO NO header*/
.nav{
    background-color: var(--cor-azul);
    background: linear-gradient(0deg, var(--cor-azul) 0%, #1d5da1 100%);
    width: 130px;
    height: 40px;
}

.nav p{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 7%;
}

.nav:before, .nav:after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: var(--cor-preto);
    transition: all 0.3s ease;
}

.nav:before{
    height: 0%;
    width: 2px;
}

.nav:after{
    width: 0%;
    height: 2px;
}

.nav:hover{
    background: transparent;
    box-shadow: none;
}

.nav:hover:before{
    height: 100%;
}

.nav:hover:after{
    width: 100%;
}

.nav p:hover{
    color: var(--cor-preto);
}

.nav p:before, p:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: var(--cor-preto);
    transition: all 0.3s ease;
}

.nav p:before{
    width: 2px;
    height: 0%;
}

.nav p:after{
    width: 0%;
    height: 2px;
}

.nav p:hover:before{
    height: 100%;
}

.nav p:hover:after{
    width: 100%;
}

/*FIM DO MENU SUPERIOR*/

/*
SEÇÃO ÚNICA DO MAIN NA PÁGINA
*/
.section-main{
    background-color: var(--cor-azul);
    background-repeat: repeat-x;
    background-size: cover;
    width: auto;
    height: auto;
    min-height: 600px;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

/*
div no main
*/
.cont-main{
    display: grid;
    /*2 COLUNAS, DIVIDIDAS EM FRAÇÕES DE ESPAÇO DIFERENTES*/
    grid-template-columns: 1fr 1.2fr;
    /*2 LINHAS COM DIVISÃO PADRÃO*/
    grid-template-rows: auto auto;
    /*ESPAÇAMENTO ENTRE COLUNAS*/
    column-gap: 5%;
    width: auto;
    height: auto;

    margin-top: auto;
    margin-bottom: auto;
    padding-top: 1.96%;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

.up_cont{
    /*POSICIONAMENTO NO grid RAIZ*/
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    /*grid*/
    width: auto;
    height: auto;
    display: grid;
    /*grid DIVIDIDO EM 1 COLUNA*/
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    /*"column-gap" JÁ ESTÁ ATIVADO NA GRID RAIZ*/
    row-gap: 1.4%;
    align-items: center;
    position: relative;
    /*text-align: center;*/
    color: #f1f1f1;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: 8%;
    margin-right: auto;
    padding-left: 8%;
    padding-right: auto;
}

#tit_up{

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;

    margin-top: auto;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

#p_up{

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;

    word-wrap: break-word;
    text-decoration: none;
    margin-top: 5%;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;

}


/*
DIV DA ILUSTRAÇÃO MOBILE
*/
#mobile_cont{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    width: auto;
    height: auto;
    /*flex COM ALINHAMENTO À ESQUERDA*/
    display: flex;
    flex-direction: column;
    align-items: left;
}

/*
ILUSTRAÇÃO MOBILE
*/
#tela_ilus{
    /*IMAGEM RESPONSIVA*/
    width: 90%;
    max-width: 490px;
    height: auto;
    max-height: 490px;
    cursor: pointer;  
}

/*
BOTÃO CORRESPONDENTE AO main
*/
/*Código adaptado de: @yuhomyan*/
.bt_super{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;

    background: transparent;
    cursor: pointer;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    transition: all 0.3s ease;
    position: relative;
    align-self: center;
    display: inline-block;
    outline: none;
    box-shadow:inset
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
    border: none;
    margin-top: 1.4%;
    margin-bottom: 1.4%;
    margin-left: auto;
    margin-right: auto;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;

}

.up{
    background-color: var(--cor-amarelo);
    background: linear-gradient(0deg, var(--cor-amarelo) 0%, #ffda6b 100%);
    width: 130px;
    height: 40px;

}

.up span{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 7%;
}

.up:before, .up:after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #f1f1f1;
    transition: all 0.3s ease;
}

.up:before{
    height: 0%;
    width: 2px;
}

.up:after{
    width: 0%;
    height: 2px;
}

.up:hover{
    background: transparent;
    box-shadow: none;
}

.up:hover:before{
    height: 100%;
}

.up:hover:after{
    width: 100%;
}

.up span:hover{
    color: #f1f1f1;
}

.up span:before, span:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #f1f1f1;
    transition: all 0.3s ease;
}

.up span:before{
    width: 2px;
    height: 0%;
}

.up span:after{
    width: 0%;
    height: 2px;
}

.up span:hover:before{
    height: 100%;
}

.up span:hover:after{
    width: 100%;
}

/*FIM DO MAIN*/

/*MEIO DA PÁGINA*/
.meio_secao {
    display: grid;
    /*grid DE UMA COLUNA*/
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    width: 100%;
    min-height: 300px;
    margin-top: 8%;

}

.container3{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 0%;
    column-gap: 0%;
    width: 100%;
    position: relative;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

/*
TÍTULO "POR QUE A BEELÍNGUE?"
*/
.tit_middle{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    text-align: center;
    margin-top: 0px;
    margin-bottom: 1.96%;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: 1.4%;
    margin-right: 1.4%;
    padding-left: auto;
    padding-right: auto;
}

/*
RECURSO PARA DEFINIR TÍTULO GRADIENTE NA PÁGINA
*/
.grad{
    background-image: linear-gradient(to top, #a9d3ff , #427CBA);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

/*
TODAS AS col
*/
.col{
    /*display flex PARA TODAS AS col*/
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin: auto;
    padding: auto;
}

/*PRIMEIRA col*/
.first{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-direction: column;
}

/*SEGUNDA col*/
.two{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    flex-direction: column;
}

/*
ÍCONES
*/
.icons{
    position: static;
    width: 75%;
    max-width: 60px;
    height: auto;
    max-height: 60px;
    margin-top: 2.74%;
    margin-bottom: auto;
    padding-top: auto;
    padding-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

/*FIM DO MEIO DA PÁGINA*/

/*PARTE DE PLANOS*/
#section-plano{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 8rem;
    text-align: center;
    background-color: var(--cor-amarelo);
    margin-top: 8%;
    margin-bottom: auto;
    padding-top: 8%;
    padding-bottom: 1.96%;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
 }

 /*TÍTULO: "PLANOS"*/
 #tit_comercial{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
 }
 
 .cards{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1.2rem;
    align-items: center;
    width: auto;
    height: auto;
 }

.plano{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    border: 0.5px solid var(--cor-azul);
    width: 250px;
    height: 364px;
    text-align: center;
    position: relative;
    background-color: var(--cor-cinza);
    color: black;
    border-radius: 5%;
    padding: 1.4%;
}

.plano ul{
    text-align: justify;
}

.plano h5{
    font-size: large;
}

/*BOTÕES DE COMPRA/PREÇO*/
/*Código adaptado de: @yuhomyan*/
.bt_plan{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    max-width: 130px;
    height: 100%;
    max-height: 40px;
    position: relative;
    margin-top: 1.4%;
    margin-bottom: 1.4%;
    margin-left: 18%;
    margin-right: 1.4%;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
    border: 2px solid #000;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.outline{
    transition: all 0.3s ease;
}

.outline:hover{
    box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}

.pattern {
    /*display: flex;*/
    position: relative;
    background-color: var(--cor-amarelo);
    height: 150px;
}

.pattern:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/ondas2.png);
    background-size: contain;
    background-repeat: round;
}
/*FIM DA PARTE DE PLANOS*/

/*RODAPÉ DA PÁGINA*/

footer {
    /* background-color: var(--cor-cinza);*/
    width: auto;
    height: auto;
    padding-top: 8%;
    padding-bottom: 0;
 }

.cont_footer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 1.4%;
    row-gap: 8%;  
    width: 100%;
    height: auto;
    position: relative;
    padding: auto;
    margin: auto;
}

.about{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 1.4%;
}

.about li{
    list-style: none;
}

.about li a{
    color: black;
}

.about ul {
    list-style-type: disc;
}

.about p{
    
    padding-right: 50%;
}

.links_footer{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 1.4%;
}

.links_footer li{
    list-style: none;
}

.links_footer li a{
    color: black;
}

.links_footer ul {
    list-style-type: disc;
}

.links_footer h4{
    padding-bottom: 2.74%;
}

.contato{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: auto;
    padding-bottom: 1.4%;
    margin-left: 1.4%;
    margin-right: 1.4%;
    padding-left: auto;
    padding-right: auto;
}

.contato li{
    list-style: none;
}

.contato li a{
    color: black;
}

.contato ul {
    list-style-type: disc;
}

.contato h4{
    padding-bottom: 1.4%;
    padding-left: 1.4%;
}

.icons-footer{
    width: 30px;
    height: 30px;
}

.img-footer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.4%;
    margin-bottom: 1.4%;
    padding: 0;
}

.img-footer p{
    margin: 0;
    padding: 0;
}

.bx{
    cursor: pointer;
}

.bx_text{
    font-size: 16px;
}

.barra_inf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    /*justify-content: space-between;*/
    text-align: center;
    background-color: #e6e6e6;
    margin-top: 1.4%;
    width: auto;
    height: 72px;
}

.barra_inf p{
    opacity: 70%;
}

.barra_inf a{
    font-weight: bold;
}


#box_top{
    margin-top: 0.9%;
    margin-bottom: 0.9%;
    opacity: 0.8;
    border: 2px solid #000;
    border-radius: 5%;
}

#top{
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    font-size: 11px;
}

/*.geeks {
    padding: 200px;
    text-align: center;
}*/

/*.button-y:hover, .button-y:focus{
    
      box-shadow: 0 0.5em 0.5em -0.4em var(--cor-preto);
      transform: translateY(-0.25em);
}
*/

hr{
    width: 50%;
    margin-bottom: 35px;
}
