:root{
    --cor-azul: #427CBA;
    --cor-azul-claro: #cbe3fd;
    --cor-amarelo: #FECB37;
    --cor-preto: ; 
    --cor-cinza:#f3f3f3;
}


.profile-details{
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 12px 0;
    transition: all 0.5s ease;
  }
  .profile-details .profile-content{
    display: flex;
    align-items: center;
  }
  .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #fff;
    transition: all 0.5s ease;
  }
  .profile-details .profile_name,
  .profile-details .job{
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.profile-details .job{
    font-size: 12px;
  }


.turma{
background-color: var(--cor-cinza);
width: 15%;
height: 150px;
border: 1px solid black;
text-align: center;
margin: 2%;
display: inline-block;

}